.transactions-table-container {
  margin: 20px;
  padding: 10px;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #4CAF50; /* Add a border to the table */
  background-color: #f9f9f9;
}

.transactions-table th, .transactions-table td {
  border: 1px solid #ddd; /* Add borders to table cells */
  padding: 8px;
  text-align: left;
}

.transactions-table th {
  background-color: #4CAF50;
  color: white;
}

.transactions-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transactions-table tr:hover {
  background-color: #ddd;
}

img{
  width: 150px;
  height: auto;
  padding: 10px;
}
.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pagination-controls button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 16px;
}
